<!DOCTYPE html>
<html lang="en">
<head>

<!-- CSS from popnoms.css -->
  <link rel="stylesheet"
        href="/static/popnoms.css">


  <!-- Map tags that belong in head element-->
  <meta charset='utf-8' />
    <title>PopNoms Map</title>
  <meta name='viewport' 
        content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />

  <style>
  body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .mapboxgl-popup {
    max-width: 400px;
    font:12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
      
</style>

<title>PopNoms</title>

<!-- Bootstrap -->
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css"
      rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Helvetica' rel='stylesheet' type='text/css'>
</head>


<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-inverse" style="margin-bottom: 0px">
<div class="container-fluid">

<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">

      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="/">PopNoms</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse"
       id="bs-example-navbar-collapse-1">

    <!-- Left-hand buttons placeholder -->
    <!-- <ul class="nav navbar-nav">
      <li><a href="/about">About</a></li>
      <li><a href="/all-popnoms">View All Popnoms</a></li>
    </ul> -->

    <ul class="nav navbar-nav navbar-right">
      {% if "user_id" in session %}
        <li><a href="/user_profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      {% else %}
        <li><a href="/registration_form">Register</a></li>
        <li><a href="/login_form">Login</a></li>
      {% endif %}
    </ul>

  </div>
</div>
</nav>
<!-- End of Navigation Bar -->

<!-- /.container-fluid -->

<div id="extending">
  {% for flash in get_flashed_messages() %}
    <div class="alert alert-danger" style="width:90%; margin:0 auto;">
      {{ flash }}</div>
  {% endfor %}

{% block content %}
{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>