<!DOCTYPE html>
<html lang="en">
<head>

<!-- CSS from Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- CSS from popnoms.css -->
  <link rel="stylesheet" href="/static/popnoms.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">




<!-- MAPBOX -->
<meta charset="utf-8">

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'>
</script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet'/>

<!-- JQuery script tag -->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<!-- Arvo font -->
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

<title>PopNoms</title>

</head>


<body style="background-color: #ffffff;">

<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-default fixed-top">
  <a class="navbar-brand" href="/">PopNoms</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      {% if "user_id" in session %}
      <li class="nav-item">
        <a class="nav-link" href="/my_profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/registration_form">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login_form">Sign in</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
<!-- End Navbar -->

{% for flash in get_flashed_messages() %}
  <div class="alert alert-dismissible alert-light" style="width:80%; margin:0 auto;" align="center">
    {{ flash }}</div>
{% endfor %}

{% block content %}
{% endblock %}

</body>
</html>