{% extends 'base.html' %}

{% block title %}PopNoms{% endblock %}

{% block content %}

<!-- Start of container div -->
<div class="container" align="center">
    <!-- Start of card with event logo image, name, start time, address, buttons -->
    <div class="card mb-3" style="max-width: 100%; border: 2px solid #007bff; box-shadow: 5px 6px 0px #007bff; padding: 20px;" align="center">
        <!-- Start of row -->
        <div class="row" style="height: 100%" >
            <!-- Start of column includes event logo -->
            <div class="col-md-4">
              <img src="{{ details.logo }}" class="card-img" style="width: 500px; height: 350px;">
            <!-- End of column includes event logo -->
            </div>
            <!-- Start of column includes name, start time, location, buttons -->
            <div class="col-md-8" style="left: 8%;">
                <!-- Start of card body -->
                <div class="card-body">
                    <!-- Card title: name -->
                    <h2 class="card-title">
                        {{ details.name }}
                    </h2>
                        <!-- Card text: Time and location -->
                        <p class="card-text">
                            <h5>When:</h5>
                            {{ details.start_time }} ({{ details.start_time_tz }})
                            <br>
                            <br>
                            <h5>Where:</h5>
                            {{ details.address }}
                        <!-- End of card text: Time and location-->
                        </p>
                        <br>
                    {% if "user_id" in session %}
                    <h5 class="card-title">Bookmark Event</h5>
                        <!-- Card text: buttons -->
                        <p class="card-text">
                            <!-- Form - two radio buttons -->
                            <form action="/bookmark_event" method="POST">
                                <!-- Button 1: Going -->
                                <input type="radio" class="bookmark" name="going_bookmark" value="going" data-eventid={{ details.event_id }} {% if bookmark and bookmark.bookmark_type == 'going' %} checked {% endif %}>  I'm Going!
                                <!-- Button 2: Interested -->
                                <input type="radio" class="bookmark" name="interested_bookmark" value="interested" data-eventid={{ details.event_id }} {% if bookmark and bookmark.bookmark_type == 'interested' %} checked {% endif %}>  Interested
                                <!-- End of form -->
                                <br>
                            </form>
                            <!-- AJAX that posts form inputs to server where it saves to db -->
                                <script>
                                    "use strict";
                                    function validateForm() {
                                        let bookmark = document.querySelector("bookmark");
                                        if (bookmark.checked == true) {
                                            console.log("true")
                                            return true;
                                         } else {
                                            console.log("false")
                                            return false
                                           }
                                    }
                                    $(document).ready(
                                        function() {
                                        $(".bookmark").on("click", function(evt) {
                                          let eventId = $(this).attr("data-eventid");
                                          let bookmarkType = $(this).attr("value");
                                          let payload = {"event_id": eventId,
                                                       "bookmark_type": bookmarkType};
                                            console.log(payload)
                                          $.post("/bookmark_event", payload, validateForm);
                                        });
                                    });
                                  </script>

                    <!-- End of endif -->
                    {% endif %}

                    <!-- Facebook button -->
                    <div id="fb-root">
                    </div>
                        <script async defer crossorigin="anonymous"
                        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3">
                        </script>
                        <div class="fb-share-button" data-size="large" data-href="{{ details.eb_url }}" data-layout="button"></a>
                        </div>
        
                    <!-- Twitter button -->
                        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20PopNom%20event!"data-size="large">
                        <a href={{ details.eb_url }}></a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
                        </script>


                <!-- End of first card-body div -->
                </div>
            <!-- End of first col-md-8 div -->
            </div>
        <!-- End of first row div -->
        </div>
    <!-- End of first card mb-3 div -->
    </div>

            <!-- Start of column includes share buttons -->
            <div class="col-md-6">
                    <!-- Buy tickets on Eventbrite button -->
                    <a href="{{ details.eb_url }}" class="btn btn-success">
                        Buy Tickets from Eventbrite
                    </a><br><br>
            <!-- End of column div -->
            </div>

    <!-- Start of third card includes description and buttons -->
    <div class="card mb-3" style="max-width: 100%; border: 2px solid #007bff; padding-top: 20px; padding-bottom: 20px;" align="left">
        <!-- Start of row -->
        <div class="row" style="height: 100%">
            <!-- Start of column includes event description -->
            <div class="col-md-6">
                <!-- Start of card body -->
                <div class="card-body">
                    <!-- Start of card text includes description-->
                    <p class="card-text">
                    <br><b><u>Description</u></b><br>
                    {{ details.description }}
                    <!-- End of card-text p -->
                    </p>
                <!-- End of card-body div -->
                </div>
            <!-- End col-md-6 div -->
            </div>
            <!-- Start of column includes user lists -->
            <div class="col-md-6" style="left: 8%;">
                <!-- Start of card body includes user lists -->
                <div class="card-body">
                    <!-- Card first title going -->
                    <h5 class="card-title" style="color: #007bff;">PopNom Users Attending This Event</h5>
                        <!-- Start row of going user thumbnails -->
                        <div class="row" style="height: 100%; border: 0;">
                            {% for attendee in attendees %}
                            <p class="card-text" style="width: 100px;">
                                <a href="/user_profile?user_id={{ attendee.user_id }}">
                                    <img src="{{ attendee.thumb_pic}}" style="border-radius: 35px; padding:2px;">
                                </a>
                            <!-- End of card text p -->
                            </p>
                            {% endfor %}
                        <!-- End of user thumbnail row div -->
                        </div>
                        <!-- Whitespace between user lists -->
                        <br>
                    <!-- Card second title interested -->
                    <h5 class="card-title" style="color: #007bff;">PopNom Users Interested In This Event</h5>
                    <!-- Start row of interested user thumbnails -->
                    <div class="row" style="height: 100%; border:0;">
                        {% for attendee in interested %}
                        <p class="card-text" style="width: 100px;">
                            <a href="/user_profile?user_id={{ attendee.user_id }}">
                                <img src="{{ attendee.thumb_pic}}" style="border-radius: 35px; padding: 2px;">
                            </a>
                        <!-- End of card text p -->
                        </p>
                        {% endfor %}
                <!-- End of card body div -->
                </div>
            <!-- End of col-md-6 div -->
            </div>
        <!-- End row div -->
        </div>
    <!-- End of card mb-3 div -->
    </div>
    

<!-- End of container div -->
</div>

{% endblock %}