{% extends 'base.html' %}

{% block title %}PopNoms in {{ location }}{% endblock %}

{% block content %}
<div class="sidebar">
<div class="sidebar-heading">
  <h2>Popnoms in {{ location }}</h2>
<!-- End "sidebar-heading" div -->
</div>
<!-- End "sidebar-heading"   -->
    <ul id="listings" class="listings">
    {% for event in events %}
    <li id="listing-{{ event.event_id }}"
        data-event_id={{ event.event_id }}
        class="card">
        <a href="/event_details?event_id={{ event.event_id }}" class="title">
        <img src=" {{ event["logo"] }}" style="width:60px; height: 60px;">
        {{ event.name }}</span></a><br>
          <span style="font-size: 90%;">{{ event.start_time }} to {{ event.end_time}}</span>
    <!-- End list item -->
    </li>
    <!-- End for events for loop -->
    <span style="font: #ffffff;">,</span>{% endfor %}
    <!-- End unordered list -->
    </ul>
  <!-- End "sidebar" div -->
</div>
  
<!-- JQuery script -->
 <script 
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
 </script>

  <div id="map" style="left:40%; width: 60%;position: absolute;">


   <!-- Script tag for Mapbox data, geoJSON -->
   <script>

      //Mapbox default accessToken
      mapboxgl.accessToken = "pk.eyJ1IjoidHJpbmJhciIsImEiOiJjanZ3emhpNXoxZW9kNDRwMWtzaWpwNm8xIn0.2201lSCmgIMWpQndN1igLg";

      window.map_center = {{ map_center }}

      window.geojson = {
        id: 'places',
        type: 'FeatureCollection',
        features: [
        {% for event in events %} {
          type: 'Feature',
          marker: {
            type: 'Point',
            coordinates: {{ coordinates_list[loop.index0] }},
            event_name: "{{event.name}}",
            event_url: "/event_details?event_id={{ event.event_id }}"
          },
        properties: {
          title: 'Mapbox',
          description: "",
          event_id: "{{ event["event_id"] }}"
        }
      },{% endfor %}
      ]
      };
      console.log(geojson)
    </script>

    <!-- Script tag for JS file -->
    <script src="/static/mapbox.js"></script>

  <!-- End div="map" -->
  </div>

{% endblock %}