{% extends 'base.html' %}

{% block title %}PopNoms{% endblock %}

{% block content %}
<body style="background-color: #F9F6F6;">
</body>

<!-- Start of container div -->
<div class="event-details-container" align="center">
    <!-- Hero image div -->
    <div class="hero-image" style="border-radius: 3px;">
        <!-- Start of card-mb-3 div -->
        <div class="card-mb-3" style="width: 100%;" align="center">
            <!-- Start of row div -->
            <div class="row" style="height:100%; width: 1024px; flex-wrap: nowrap;" align="center">
                <!-- Event image logo -->
                <img src="{{ details.logo }}" class="card-img" style="width: 100%; height:600px; margin: 25px; border: 5px solid white;">
            <!-- End of row div -->
            </div>
        <!-- End of card-mb-3 div -->
        </div>
    <!-- End of hero image div -->
    </div>
<!-- End of container div -->
</div>

<!-- Start of second container div -->
<div class="container">
    <!-- Start of second row div -->
    <div class="row" align="center">
        <!-- Start of single column -->
        <div class="col-md-12">
            <h2><b>
                {{ details.name }}
            </b></h2>
        <!-- End of single column -->
        </div>
    <!-- End of second row div -->
    </div>

    <!-- Start of third row div -->
    <div class="row" align="center">
        <!-- Start of col-md-8 -->
        <div class="col-md-8">
            <!-- Start of card body div includes description -->
            <div class="card-body" align="left">
                <p class="card-text">
                    <br>
                    <h5>About this event</h5>
                    <br>
                    {{ details.description }}
                </p>
            <!-- End of card body -->
            </div>
        <!-- End of col-md-8 div -->
        </div>
        <!-- Start of col-md-4 -->
        <div class="col-md-4" style="vertical-align: center;">
            <!-- Start of When and Where -->
            <div class="card-body">
                <p class="card-text">
                    <br>
                    <h5>When:</h5>
                        {{ details.start_time }}
                        <br>
                        to
                        <br>
                        {{ details.end_time }}
                        <br>
                        ({{ details.end_time_tz}})
                        <br>
                        <br>
                    <h5>Where:</h5>
                    {{ details.address }}
                <!-- End of When and Where -->
                </p>

                <!-- Bookmarks -->
                <p class="card-text">
                    <br>
                    <!-- Form - two radio buttons -->
                    {% if "user_id" in session %}
                    <h5 class="card-title">
                        Bookmark Event
                    </h5>
                        <!-- Card text: buttons -->
                            <!-- Form - two radio buttons -->
                            <form action="/bookmark_event" method="POST">
                                <!-- Button 1: Going -->
                                <input type="radio" class="bookmark" name="going_bookmark" value="going" data-eventid={{ details.event_id }} {% if bookmark and bookmark.bookmark_type == 'going' %} checked {% endif %}>  I'm Going!
                                <!-- Button 2: Interested -->
                                <input type="radio" class="bookmark" name="interested_bookmark" value="interested" data-eventid={{ details.event_id }} {% if bookmark and bookmark.bookmark_type == 'interested' %} checked {% endif %}>  Interested
                                <!-- End of form -->
                                <br>
                            </form>
                            <!-- AJAX that posts form inputs to server where it saves to db -->
                                <script>
                                    "use strict";
                                    function validateForm() {
                                        let bookmark = document.querySelector("bookmark");
                                        if (bookmark.checked == true) {
                                            console.log("true")
                                            return true;
                                         } else {
                                            console.log("false")
                                            return false
                                           }
                                    }
                                    $(document).ready(
                                        function() {
                                        $(".bookmark").on("click", function(evt) {
                                          let eventId = $(this).attr("data-eventid");
                                          let bookmarkType = $(this).attr("value");
                                          let payload = {"event_id": eventId,
                                                       "bookmark_type": bookmarkType};
                                            console.log(payload)
                                          $.post("/bookmark_event", payload, validateForm);
                                        });
                                    });
                                </script>
                    <!-- End of endif -->
                    {% endif %}
                <!-- End of bookmarks -->
                </p>
                <br><br>
                <!-- Social media buttons -->
                <p class="card-text">
                    <h5>Share with friends</h5>
                        <!-- Facebook -->
                        <div id="fb-root">
                        </div>
                        <script async defer crossorigin="anonymous"
                        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3">
                        </script>
                        <div class="fb-share-button" data-size="large" data-href="{{ details.eb_url }}" data-layout="button"></a>
                        </div>
                        <!-- End of Facebook -->
                        <br><br>
                        <!-- Twitter -->
                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20PopNom%20event!"data-size="large">
                            <a href={{ details.eb_url }}></a></a>
                            <script 
                                async src="https://platform.twitter.com/widgets.js" charset="utf-8">
                            </script>
                    
                        <!-- End of Twitter -->
                <!-- End of social media buttons -->
                </p>
                <br><br><br>
                <!-- Eventbrite button -->
                <p class="card-text">
                    <a href="{{ details.eb_url }}" class="btn btn-success">
                        Buy Tickets from Eventbrite
                    </a>
                </p>
            <!-- End of card body div -->
            </div>
        <!-- End of col-md-4 -->
        </div>
        <!-- Start of column userlist attending -->
        <div class="col-md-6">
            <!-- Start of card body includes user list attending -->
                <div class="card-body" align="center">
                    <!-- Card first title going -->
                    <h5 class="card-title" style="color: #007bff;" align="left">PopNom Users Attending This Event</h5>
                        <!-- Start row of going user thumbnails -->
                        <div class="row" style="height: 100%; border: 0;">
                            {% for attendee in attendees %}
                            <p class="card-text" style="width: 100px;" align="center">
                                <a href="/user_profile?user_id={{ attendee.user_id }}">
                                    <img src="{{ attendee.thumb_pic}}" style="border-radius: 35px; padding:1px;">
                                </a>
                            <!-- End of card text p -->
                            </p>
                            {% endfor %}
                        <!-- End of user thumbnail row div -->
                        </div>
                <!-- End of card body -->
                </div>
        <!-- End of col-md-6 -->
        </div>
        <!-- Start of column userlist interested -->
        <div class="col-md-6">
            <!-- Start of card body includes user list interested -->
            <div class="card-body" align="center">
                <!-- Card second title interested -->
                    <h5 class="card-title" style="color: #007bff;" align="left">PopNom Users Interested In This Event</h5>
                    <!-- Start row of interested user thumbnails -->
                    <div class="row" style="height: 100%; border:0;">
                        {% for attendee in interested %}
                        <p class="card-text" style="width: 100px;" align="center">
                            <a href="/user_profile?user_id={{ attendee.user_id }}">
                                <img src="{{ attendee.thumb_pic}}" style="border-radius: 35px; padding: 1px;">
                            </a>
                        <!-- End of card text p -->
                        </p>
                        {% endfor %}
                    <!-- End of  row -->
                    </div>
                <!-- End of card body -->
                </div>
            <!-- End of col-md-6 interested -->
            </div>
    <!-- End of second row div -->
    </div>
</div>




{% endblock %}