{% extends 'base.html' %}

{% block title %}PopNoms{% endblock %}

{% block content %}

<div class ="row" style="margin:20px padding:10px;">
    <img src="{{ details["logo"] }}" style="width:8px height:5px;">
</div>

 <div class="row" style="margin:20px padding:10px;">

   <div class="col-xs-12 col-md-6">

    <h2> {{ details["name"] }}</h2>

    <p>{{ details["description"] }}</p>
    <p>{{ details["start_time"]}} to {{ details["end_time"]}} {{ details["end_time_tz"] }}</p>
</div>
   <div class="col-xs-12 col-md-6">
    <br><br><br>

     {% if "user_id" in session %}
        <h3>
            Bookmark Event
        </h3>
        <form action="/bookmark_event" method="POST">
        <input type="radio" class="bookmark" name="going_bookmark" value="going" data-eventid={{ details["event_id"] }} {% if bookmark and bookmark.bookmark_type == "going" %} checked {% endif %}>  I'm Going!

        <input type="radio" class="bookmark" name="interested_bookmark" value="interested" data-eventid={{ details["event_id"] }} {% if bookmark and bookmark.bookmark_type == "interested" %} checked {% endif %}>  Interested

          <script>
        "use strict";
        function validateForm() {
            let bookmark = document.querySelector("bookmark");
            if (bookmark.checked == true) {
                console.log("true")
                return true;
             } else {
                console.log("false")
                return false
               }
        }

        $(document).ready(
            function() {
            $(".bookmark").on("click", function(evt) {
              let eventId = $(this).attr("data-eventid");
              let bookmarkType = $(this).attr("value");
              let payload = {"event_id": eventId,
                           "bookmark_type": bookmarkType};
                console.log(payload)

              $.post("/bookmark_event", payload, validateForm);
            });

        });
        </script>
        </form>
        
    {% endif %}
        <!-- Buy tickets on Eventbrite button -->
         <a href="{{ details["eb_url"] }}" class="btn btn-primary ">Buy Tickets from Eventbrite</a><br><br><br>

         <!-- Tweet button -->
       <p>
       <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20PopNom%20event!"data-size="large"><a href={{ details["eb_url"] }}></a>

       <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </p>

        <!-- Facebook button -->
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>

        <div class="fb-share-button" data-size="large" data-href="{{ details["eb_url"] }}" data-layout="button"></div></a></div>

      <div class="col-xs-12 col-md-6">

          <h3>PopNom users attending this event:</h3>

          <ul class="events">{% for attendee in attendees %}>
          <li class="event-card"><a href="/user_profile?user_id={{ attendee.user_id }}">{{ attendee.username }}</a>
          {% endfor %}
          </li>
          </ul>

          <h3>PopNom users interested in this event:</h3>

          <!-- {% for attendee in interested %}
          {{ attendee }}
          {% endfor %} -->

          <ul class="events">
            <li class="user"><a href="/user_profile?user_id=5">{{ attendees.username }}</a>

          <script>
            "use strict";
        $.ajax({
          url: 'https://randomuser.me/api/',
          dataType: 'json',
          success: function(data) {
          $("#user").html(data);
          }
          });
        </script>
      </div>
     </div>
 </div>
 
{% endblock %}