{% extends 'base.html' %}

{% block title %}PopNoms{% endblock %}

{% block content %}

<!-- Start of container div -->
<body style="background-image: url('/static/popnom_homepage.png'); background-color: #000000; color: white;">
</body>

<div align=center>
    <h3 id="title" style="font-family: 'Arvo', serif; font-size: 105px; font-style: bold; font-color: white;">
    <b><br>EAT ADVENTUROUSLY</b></h3>
  <form action="/events" method="POST">
    <br>
    <h3 style="font-color: white;">In
      <input class="location" type="location" name="location">
    On/Around
      <select class="date_kw" type="date_kw" name="date_kw"><br>
       <option value="today">Today</option>
       <option value="tomorrow">Tomorrow</option>
       <option value="this_weekend">This Weekend</option>
       <option value="this_week">This Week</option>
       <option value="next_week">Next Week</option>
       <option value="this_month">This Month</option>
       <option value="next_month">Next Month</option>
       <br>
    <input class="submit" type="submit" name="submit" value="Search">
    </h3>
    </form>
</div>



{% endblock %}