{% extends 'base.html' %}

{% block title %}PopNoms{% endblock %}

<!-- {% block js %}
  
{% endblock %} -->

{% block content %}

<!-- Possible use of JS and React, do not delete until design period -->

    <!-- <div id="popnom-name"></div>

    <div id="root"></div> -->

        <!-- script src="https://unpkg.com/react@16/umd/react.development.js"   crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="/static/popnomDetails.jsx" type="text/jsx"></script> -->

   <!--  <script>
        "use strict";

        let event_detail = JSON.parse(event);

        console.log(event_detail.name.text);

        function printValues(event_detail) {
            for (let k in event_detail) {
                if(event_detail[k] instanceof Object) {
                    printValues(event_detail[k]);
                } else {
                    document.write(event_detail[k] +"<br>");
                };
            }
        };

        printValues(event_detail)

        document.write(event_detail["name"]["text"] + "<br>");
    </script> -->
<div class ="row" style="margin:20px padding:10px;">
    <img src="{{ details["logo"] }}" style="width:100px height:75px;">
</div>

 <div class="row" style="margin:20px padding:10px;">

   <div class="col-xs-12 col-md-6">

    <h2> {{ details["name"] }}</h2>

    <p>{{ details["description"] }}</p>
    <p>{{ details["start_time"]}} {{ details["start_time_tz"] }} to {{ details["end_time"]}} {{ details["end_time_tz"] }}</p>
</div>
   <div class="col-xs-12 col-md-6">
    <br><br><br>

        <a href="/bookmark" id="likeButton" class="btn btn-primary"><3</a>

        <script>
            "use strict";

            //write JS here to change the buttons upon click

        <a href="/bookmark" id="registerButton" class="btn btn-primary">I'm Going</a>

         <a href="{{ details["eb_url"] }}" class="btn btn-primary ">Buy Tickets</a>
     </div>
 </div>
 
{% endblock %}