{% extends 'base.html' %}

{% block title %}PopNoms{% endblock %}

<!-- {% block js %}
  
{% endblock %} -->

{% block content %}

<div class ="row" style="margin:20px padding:10px;">
    <img src="{{ details["logo"] }}" style="width:8px height:5px;">
</div>

 <div class="row" style="margin:20px padding:10px;">

   <div class="col-xs-12 col-md-6">

    <h2> {{ details["name"] }}</h2>

    <p>{{ details["description"] }}</p>
    <p>{{ details["start_time"]}} to {{ details["end_time"]}} {{ details["end_time_tz"] }}</p>
</div>
   <div class="col-xs-12 col-md-6" id="buttons">
    <br><br><br>

        <form action="/heart" method="POST">
        
        <button class="btn btn-primary" type="heartButton" name="heartButton" status="unhearted"><3</button>
        <input type="hidden" name="heartEventId" value="{{ details["event_id"] }}">

            <script>
            "use strict";

            let heartButton = document.querySelector('#heartButton');
            let eventId = document.querySelector('#heartEventId');

            heartButton.addEventListener("click", function () {
                if (heartButton.innerText === "<3") {
                    heartButton.innerText = "</3";
                    heartButton.setAttribute("status", "hearted");
                    // $.post('where youwant to go',heartButton.attr('status');
                } else {
                    heartButton.innerText = "<3";
                    heartButton.setAttribute("status", "unhearted");
                    eventId.setAttribute("value","");
                    // $.post('same place as above', "unh)
                    //     first = '/routename'
                    //     second = {'status'}
                }
            });

            </script>
        </form>
        <form action="/attend" method="POST">

        <button class="btn btn-primary" type="attendButton" name="attendButton" status="notAttending" data-eventid="{{ details["event_id"]}}">Not going</button>
         <input type="hidden" name="attendEventId" value="{{ details["event_id"] }}">

            <script>
            "use strict";

            let attendButton = document.querySelector('#attendButton');

            attendButton.addEventListener("click", function () {
                if (attendButton.innerText === "Not going") {
                    attendButton.innerText = "Going";
                    attendButton.setAttribute("status", "going");
                } else {
                    attendButton.innerText = "Not going";
                    attendButton.setAttribute("status", "notGoing");
                }
            });

            </script>
        </form>

         <a href="{{ details["eb_url"] }}" class="btn btn-primary ">Buy Tickets</a>
     </div>
 </div>
 
{% endblock %}