{% extends 'base.html' %}
{% block content %}
<body style="background-color: #F9F6F6;">
</body>

<div class="container" align="center">
<div class="well spaced" style="width:40%; border: 2px solid #404040; border-radius: 6px; box-shadow: 5px 6px 0px #404040; padding-top: 50px; padding-bottom: 80px;" align="center">
<div>

  <h1>Register</h1>
  <form action="/register" method="POST">

    <div class="form-group">
      <label>Name:
          <input type="name" name="name" required class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Email:
          <input type="email" name="email" required class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Password:
          <input type="password" name="password" required class="form-control">
      </label>
    </div>

    <div class="form-group">
      <input type="submit" value="Register" class="btn btn-secondary">
    </div>
</div
>
  </form>
</div>
</div>
{% endblock %}