{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}

<img src="{{user.lrg_pic}}">
<h1>{{user.username}}'s profile</h1>

<h3>Popnoms {{ user.username }} is attending</h3>
    <ul class="events">
        {% for details in going_details %}
    <li class="event-card"><a href="/event_details?event_id={{ details.event_id }}"><img src="{{ details.logo }}"" style="width: 60px; height:60px; border:0;"></a><br>{{ details.name }}<br>
        <span style="font-size: 65%;">{{ details.start_time }} to {{ details.end_time }}</span>
    </li>
    {% endfor %}
    </ul>
 </div>

 <h3>Popnoms {{ user.username }} is interested in</h3>

 <div class="col-xs-12 col-md-6" align=left>

    <ul class="events">
    {% for details in interested_details %}
    <li class="event-card"><a href="/event_details?event_id={{ details.event_id }}"><img src="{{ details.logo }}" style="width:60px; height:60px; border:0;"></a><br>
    {{ details.name }}<br>
    <span style="font-size: 65%;">
        {{ details.start_time }} to {{ details.end_time }}
    </span>
    </li>
    , {% endfor %}
    </ul>

</div>

</div>


{% endblock %}