{% extends 'base.html' %}

{% block title %}PopNoms{% endblock %}

{% block content %}

<div class="row">

  <div class="col-xs-12 col-md-6">

    <h3>PopNoms in {{ location }}</h3>
      <ul class="events">
        {% for event in events %}
          <li class="event-card"><a href="/popnom_details?event_id={{ event["event_id"]}}"><img src="{{ event["logo"]}}" style="width:60px;height:60px;border:0;"></a><br>
            {{ event["name"] }}<br>
            <span style="font-size: 65%;">{{ event["start_time"]}} to {{event["end_time"]}}</span>
            <p>
             
          </p>

            <!-- add event listener to send event_id
            input data and tell what route to go to -->
        </li>
        ,{% endfor %}
      </ul>

  </div>

  <div class="col-xs-12 col-md-6">
    <h3>Map will go here</h3>
      <script 
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>

  
    <div id='map' style='width: 500px; height: 600px;'></div>
      <script>

      //Mapbox default accessToken
      mapboxgl.accessToken = 'pk.eyJ1IjoidHJpbmJhciIsImEiOiJjanZ3emhpNXoxZW9kNDRwMWtzaWpwNm8xIn0.2201lSCmgIMWpQndN1igLg';

      //Display map using map_center of location query
      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: {{ map_center }},
        zoom: 11
      });

      const geojson = {
        id: 'places',
        type: 'FeatureCollection',
        features: [
        {% for coordinates in coordinates_list %}
        {% for event in events %} {
          type: 'Feature',
          marker: {
            type: 'Point',
            coordinates: {{ coordinates }},
            event_name: "{{ event["name"]}}"
          },
        properties: {
          title: 'Mapbox',
          description: ""
        }
      },{% endfor %}{% endfor %}
      ]
      };
      console.log(geojson)

      //add markers to map
      geojson.features.forEach(function(marker) {
        //create an HTML element for each feature
        let popup = new mapboxgl.Popup({ offset: 25})
          .setText(marker.marker.event_name);

        let el = document.createElement('div');
        el.className = 'marker';
  
        //make a marker for each feature and add to map
        new mapboxgl.Marker(el)
        .setLngLat(marker.marker.coordinates)
        .setPopup(popup)
        .addTo(map);
      });

      
</script>

    </div>
</div>

{% endblock %}