{% extends 'base.html' %}

{% block title %}PopNoms{% endblock %}

{% block content %}

<div class="row">

  <div class="col-xs-12 col-md-6">

    <h3>PopNoms in {{ location }}</h3>
      <ul class="events">
        {% for event in events %}
          <li><a href="{{ event["eb_url"] }}">{{ event["name"] }}
          </a></li>
        {% endfor %}
      </ul>

  </div>

  <div class="col-xs-12 col-md-6">
    <h3>Map will go here</h3>
      <script 
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>

  
  <div id='map' style='width: 500px; height: 600px;'></div>
    <script>

      //Mapbox default accessToken
      mapboxgl.accessToken = 'pk.eyJ1IjoidHJpbmJhciIsImEiOiJjanZ3emhpNXoxZW9kNDRwMWtzaWpwNm8xIn0.2201lSCmgIMWpQndN1igLg';

      //Display map using map_center of location query
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: {{ map_center }},
        zoom: 10
        });

      //Drops pin on event
      map.on('load', function() {
        map.loadImage('https://i.imgur.com/MK4NUzI.png', function(error, image) {
            if (error) throw error;
            map.addImage('pin', image);
            map.addLayer({
              "id": "points",
              "type": "symbol",
              "source": {
                "type": "geojson",
                "data": {
                  "type": "FeatureCollection",
                  "features": [{
                    "type": "Feature",
                    "geometry": {
                      "type": "Point",
                      "coordinates": {{ map_center }}
                    }
                  }]
                }
              },
              "layout": {
                "icon-image": "pin",
                "icon-size": 0.5
              }
            });
          });
        });
</script>

    </div>
</div>

{% endblock %}