{% extends 'base.html' %}

{% block title %}PopNoms{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-xs-12 col-md-6">

      <h3>PopNoms in {{ location }}</h3>
      <ul class="events">
        {% for event in events %}
          <li><a href="{{ event["name"] }}>{{ event["name"] }}</a></li>
        {% endfor %}
      </ul>

    </div>

    <div class="col-xs-12 col-md-6">

      <h2>Map will go here</h2>

      <pre>{{ logo }}</pre>

    </div>

  </div>

{% endblock %}